@page "/programcred"
@layout SidebarLayout

<PageTitle>Programs and Credentials</PageTitle>

<ilw-content>
    <h1>Programs and Credentials</h1>

    <p>
        Programs are a group of credentials connected by a common educational thread. For example, the Learning Design and Leadership program may have a Bachelor's Degree, Master's Degree, and Doctorate Degree.
    </p>
    <p>
        A valid program must contain one or more credentials. A program may have only one credential.
        A credential is an individual certificate, endorsement, or degree. It may be transcriptable or not transcriptable. It is usually gained by taking courses.
    </p>
    <p>
        You can assign courses directly to a credential, or you can assign a credential to a plan of study (see below). You cannot do both for a single credential, but you can transfer from one paradigm to the other.
    </p>

    <ul class="ilw-buttons"><li>
            <a href="/programs">Programs</a>
        </li>
        <li><a href="/credentials">Credentials</a></li>
    </ul>

</ilw-content>
