@page "/configuration/fieldsused/courses"
@layout SidebarLayout

<PageTitle>Fields Used - Courses</PageTitle>

<ilw-content>
    <h1>Fields Used - Courses</h1>
    <p>Customize the fields used for courses.</p>
</ilw-content>
