@page "/configuration/fieldsused/credentials"
@layout SidebarLayout

<PageTitle>Fields Used - Credentials</PageTitle>

<ilw-content>
    <h1>Fields Used - Credentials</h1>
    <p>Customize the fields used for credentials.</p>
</ilw-content>

<ilw-content>
    <fieldset class="heading">
        <legend>Would you like to add Credentials to your source?</legend>
        <div class="ils-input-entry-compact">
            <label for="isused-yes">Yes</label>
            <input type="radio" name="isused" id="isused-yes" value="yes" checked="@IsUsed" @onchange="e => SaveUsedChange(true)" />
        </div>
        <div class="ils-input-entry-compact">
            <label for="isused-no">No</label>
            <input type="radio" name="isused" id="isused-no" value="no" checked="@(!IsUsed)" @onchange="e => SaveUsedChange(false)" />
        </div>
    </fieldset>
</ilw-content>


<button class="ilw-button" @onclick="SaveChanges" @onblur="Layout.RemoveMessage">Save Changes</button>
