@page "/configuration/fieldsused/credentials"
@layout SidebarLayout

<PageTitle>Fields Used - Credentials</PageTitle>

<ilw-content>
    <h1>Fields Used - Credentials</h1>
    <p>Customize the fields used for credentials.</p>
</ilw-content>
