@page "/configuration/fieldsused/requirementsets"
@layout SidebarLayout

<PageTitle>Fields Used - Requirement Sets</PageTitle>

<ilw-content>
    <h1>Fields Used - Requirement Sets</h1>
    <p>Customize the fields used for requirement sets.</p>
</ilw-content>
