@page "/configuration/fieldsused/sections"
@layout SidebarLayout

<PageTitle>Fields Used - Sections</PageTitle>

<ilw-content>
    <h1>Fields Used - Sections</h1>
    <p>Customize the fields used for sections.</p>
</ilw-content>
