@if (GetFieldItemActive())
{
    <ilw-content>
        <button @onclick="CopyToClipboard" class="ilw-button">Copy @Title to Clipboard</button>
        <p>@GetFieldItemDescription()</p>
    </ilw-content>
}