@if (_breadcrumbs != null && _breadcrumbs.Any())
{
    <ilw-breadcrumbs>
        @foreach (var breadcrumb in _breadcrumbs)
            {
                <a href="@breadcrumb.Url">@breadcrumb.Text</a> 
            }
    </ilw-breadcrumbs>
}
