@page "/sample"
@layout SidebarLayout

<PageTitle>Sidebar</PageTitle>

<ilw-content>
    <h1>Hello, world!</h1>
    <p>Welcome to your new app.</p>
    <p><a href="/">Back to main page</a></p>
    <div class="ils-input-entry">
        <label for="ed-room">Room Number</label>
    <input id="ed-room" type="text" @bind="Room" @bind:after="Layout.SetDirty">
    </div>
    <p><button class="ilw-button" @onclick="Send" @onblur="Layout.RemoveMessage">Save Information</button></p>

</ilw-content>

@code {
    [CascadingParameter]
    public SidebarLayout Layout { get; set; } = default!;

    [Inject]
    public NavigationManager NavigationManager { get; set; } = default!;

    [Inject]
    public Search.Setters.ProgramSetter Setter { get; set; } = default!;

    public string Room { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        await Layout.CheckSource();
        await base.OnInitializedAsync();
    }

    protected async Task Send()
    {
        await Layout.AddMessage("Information saved.");
        var program = new ProgramInformationV2.Search.Models.Program
            {
                Title = "Sample title",
                Description = "Sample description"
            };
        var x = Setter.SetProgram(program);

        Layout.RemoveDirty();
    }
}
