.iled-error {
    background: #fbb5b5;
}

textarea {
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 14px;
    color: #333;
    width: 100%;
    resize: vertical;
    transition: border-color 0.2s, background-color 0.2s;
}

    textarea::placeholder {
        color: #bbb;
    }

    textarea:hover {
        background-color: #eee;
        border-color: #ccc;
    }

    textarea:focus {
        border: 2px solid var(--il-blue);
        outline: none;
    }

    textarea:focus-visible {
        border: 2px solid var(--il-orange);
        background-color: white;
        outline: none;
    }

    textarea:active {
        border: 2px solid var(--il-orange);
        background-color: white;
    }

    textarea:disabled {
        background-color: #e0e0e0;
        border-color: #aaa;
        color: #aaa;
        cursor: not-allowed;
    }