/* Form Information to replace ils- code */
.iled-input-box {
    display: flex;
    flex-direction: column;
}

    .iled-input-box label {
        color: var(--il-blue);
        font: 700 1.125rem / 1.667rem var(--il-font-sans);
        margin: 0;
        text-align: left;
        line-height: 1.3em;
    }

    .iled-input-box .iled-label-required::before {
        content: '*';
        vertical-align: middle;
        color: var(--il-altgeld);
    }

    .iled-input-box input, .iled-input-box select, .iled-input-box textarea {
        margin: 0;
        border-radius: 5px;
        padding: 10px;
        font: 16px/18px var(--il-font-sans);
        background-color: #fff;
        border: thin var(--il-blue) solid;
    }

        .iled-input-box input[type="time"] {
            width: 150px;
        }

    .iled-input-box textarea {
        height: 50px;
    }

        .iled-input-box textarea.iled-textbox-large {
            height: 250px;
        }

    .iled-input-box input[type="checkbox"] {
        width: 20px;
        height: 20px;
        margin-bottom: 9px;
        margin-top: 9px;
        accent-color: var(--il-blue);
    }

    .iled-input-box input:hover, .iled-input-box select:hover, .iled-input-box textarea:hover {
        background-color: var(--il-cloud);
    }

    .iled-input-box input:focus, .iled-input-box select:focus, .iled-input-box textarea:focus {
        background-color: var(--il-cloud);
        outline: 3px solid var(--il-altgeld);
    }

    .iled-input-box input[disabled], .iled-hours-parent .iled-hours-time input[disabled], .iled-input-box select[disabled], .iled-input-box textarea[disabled] {
        border: none;
        padding-left: 0;
        background-color: white !important;
        color: black;
        background-image: none;
        opacity: 1;
    }

        .iled-input-box select[disabled] option {
            color: black;
        }

    .iled-input-box select {
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' width='18' height='18' ><path fill='%23ff5f05' d='M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z'></path></svg>");
        background-repeat: no-repeat;
        background-position-x: calc(100% - 12px);
        background-position-y: 10px;
    }

.instructions {
    display: block;
    font: 400 1.125rem / 1.667rem var(--il-font-sans);
    color: var(--il-storm);
}

.iled-error {
    background: #fbb5b5;
}


textarea {
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 14px;
    color: #333;
    width: 100%;
    resize: vertical; 
    transition: border-color 0.2s, background-color 0.2s;
}

    textarea::placeholder {
        color: #bbb;
    }

    textarea:hover {
        background-color: #eee;
        border-color: #ccc;
    }

    textarea:focus {
        border: 2px solid var(--il-blue);
        outline: none;
    }

    textarea:focus-visible {
        border: 2px solid var(--il-orange);
        background-color: white;
        outline: none;
    }

    textarea:active {
        border: 2px solid var(--il-orange);
        background-color: white;
    }

    textarea:disabled {
        background-color: #e0e0e0;
        border-color: #aaa;
        color: #aaa;
        cursor: not-allowed;
    }