@page "/credential/transcriptable"
@layout SidebarLayout

<PageTitle>Credentials - Transcriptable Information</PageTitle>

<ilw-content>
    <h1>Transcriptable Information</h1>
</ilw-content>

@if (CredentialItem != null) {
        <IsTranscriptable Title="Is This Credential Transcriptable" FieldItems="FieldItems" @bind-Value="CredentialItem.IsTranscriptable"></IsTranscriptable>
    <MediumText Title="Transcriptable Name" FieldItems="FieldItems" @bind-Value="CredentialItem.TranscriptableName"></MediumText>
    <LargeText Title="Disclaimer Text" FieldItems="FieldItems" @bind-Value="CredentialItem.DisclaimerText"></LargeText>
    <button class="ilw-button" @onclick="Save" @onblur="Layout.RemoveMessage">Save Changes</button>
}

