@page "/section/technical"
@layout SidebarLayout

<PageTitle>Section - Technical Information</PageTitle>

<ilw-content>
    <h1>Technical Information</h1>
</ilw-content>

@if (SectionItem != null)
{
    <IdList Title="Id" FieldItems="FieldItems" Id="@SectionItem.Id"></IdList>
    <StatusOnSite @bind-Value="SectionItem.IsActive"></StatusOnSite>
    <MediumText Title="URL Fragment" FieldItems="FieldItems" @bind-Value="SectionItem.Url"></MediumText>
    <button class="ilw-button" @onclick="Save" @onblur="Layout.RemoveMessage">Save Changes</button>
    <DeleteNotice DeleteClicked="Delete" ItemTitle="@SectionItem.Title"></DeleteNotice>

}