@page "/configuration/testing"
@layout SidebarLayout

<PageTitle>Configuration - Testing Access</PageTitle>

<ilw-content>
    <h1>Testing Access</h1>
    <p>Go to the Testing area for Security. From here, you can add yourself. </p>

    <button class="ilw-button" @onclick="SwitchToTesting">Testing Area Security</button>

</ilw-content>
